.card{
    height: 500px;
    width: 400px;
    border: 1px solid black;
}
img{
    height: 200px;
    width:300px;
    padding-left: 45px;
    padding-top: 50px;
}
.heading1{
    text-align: center;
}
.heading2{
    text-align: center;
}
.priceing1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}
.priceing2{
    /* padding-left: 50px; */
    padding-right: 50px;
    font-size: 30px;
}
.btn{
    padding: 8px;
    color: azure;
    background-color: rgb(0, 71, 71);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}